---
import '../styles/global.css';
import Analytics from '../partials/analytics.astro';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
const isProd = !import.meta.env.DEV;
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{title}</title>
    <meta name="description" content={description} />

    {isProd && <Analytics />}
  </head>

  <body class="bg-slate-950 text-slate-100 antialiased">
    <slot />
  </body>
</html>
